// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


.navbar .navbar-center{
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

#hero{
    height: 500px;
    background : url("/assets/hero-back.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-top:0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
.hero-area h1{
    color:white;
    font-weight:bold;
    font-size: 4.3em;
    font-family: comic-sans;
}

.btn-center{
    width:300px;
    margin-top:50px;
}
.menu-block{
    margin-top: 130px;
}
footer{
    clear:both;
    height:150px;
    background-color: #2C3E50;
    padding:20px;
    margin-top:50px;
    font-size: 1.4em;
    color:white;
}
.fa .fa-icon{
    font-size:100px;
}