// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


.navbar .navbar-center{
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
