
    <div class="container">
        <div class="row vcenter">
            <div class="pull-left col-lg-4 col-xs-12">
                <p>Copyright &copy;2016 Indian Tandoori</p>
            </div>
            <div class="col-lg-4">
                Phone Number : 01-121212<br>
                Address : Unit 22 , Clondalkin Industrial Estate, Dublin 22 Ireland
                
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="pull-right">
                    
                    <a href="#"><i class="fa fa-linkedin-square fa-2x fa-icon"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-2x fa-icon"></i></a>
                    <a href="#"><i class="fa fa-facebook-square fa-2x fa-icon"></i></a>
                    
                </div>
            </div>
        </div>
    </div>
